
<header class="topbar">
  <a class="brand" routerLink="/">
    <img src="/assets/images/casa-logo.png" alt="Casa De Esencias" class="logo" />
    <span>Casa De Esencias</span>
  </a>

  <nav class="tabs">
    <a routerLink="/company-home"  routerLinkActive="active">Home</a>
    <a routerLink="/perfumes" routerLinkActive="active">Perfumes</a>
   
    <a routerLink="/order"    routerLinkActive="active">Checkout</a>
    
    <a routerLink="/contact"  routerLinkActive="active">Contact Us</a>
  </nav>
</header>
